<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/book}" th:Object="${book}" method="Post">
		<table>
			<tr>
				<td>Book Name</td>
				<td><input type="text" th:field="*{bookName}" /></td>
			</tr>

			<tr>
				<td>Book Author</td>
				<td><input type="text" th:field="*{authorName}" /></td>
			</tr>

			<tr>
				<td>Book Price</td>
				<td><input type="text" th:field="*{bokPrice}" /></td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>